:root {
    --white: rgba(255, 255, 255, .8);
    --nv-cl: white;
    font-size: 62.5%;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Italianno', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*  Header with nav*/

.page-header {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
}

.page-header a {
    text-decoration: none;
}

.page-logo {
    color: black;
    font-size: 4.5rem;
    width: 90%;
    background-color: white;
    box-sizing: border-box;
}

.page-nav .hamburger {
    border: 0;
    background: 0;
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 2.6rem;
}

.page-nav .hamburger .close-icon {
    display: none;
}

.page-nav .navigation-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    display: none;
    margin-top: 30px;
}

.page-nav .navigation-menu li {
    border-bottom: 1px solid lightcoral;
    padding: 15px 0 15px;
    width: 80%;
    margin: auto;
}

.page-nav .navigation-menu li.sign-up {
    border: 0;
}

.page-nav .navigation-menu li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    color: black;
}

.page-header .nav-opened {
    -webkit-box-shadow: 0px 14px 26px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 14px 26px 0px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 14px 26px 0px rgba(0, 0, 0, 0.58);
}

.page-header.page-header.nav-opened .page-nav .hamburger .hamburger-icon {
    display: none;
}

.page-header.page-header.nav-opened .page-nav .hamburger .close-icon {
    display: block;
}

.page-header.nav-opened .navigation-menu {
    display: none;
}

.page-header.nav-opened .navigation-menu {
    display: block;
}

/* Gallery Web site */

.gallery {
    box-sizing: border-box;
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: auto;
    /* overflow: hidden; */
}

.gallery-title {
    text-align: center;
    width: 100%;
    min-height: 20px;
    font-size: 3.5rem;
    background-color: red;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-images a {
    flex-basis: 30%;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 20px;
}

img {
    display: block;
}

/* Footer */

.foot {
    /* position: relative; */
    background-color: red;
    font-size: 3.5rem;
    text-align: center;
    padding: 10px 0;
}

@media (min-width:44rem) {
    .gallery-title {
        font-size: 6rem;
    }

    .page-nav .hamburger {
        display: none;
    }

    .page-nav {
        position: absolute;
        top: 0;
        right: 20px;
    }

    .page-nav .navigation-menu {
        margin: 20px 10px;
        display: block;
        text-align: center;
    }

    .page-nav .navigation-menu li {
        text-align: center;
        display: inline;
        border: 0;
        top: 0;
        margin-right: 30px;
        font-size: 4rem;
    }

    .page-nav .navigation-menu li a {
        font-family: 'Italianno', Arial, Helvetica, sans-serif;
        text-decoration: red none;
        font-size: 4.6rem;
        color: black;
        transition: 1s linear;
    }

    .page-nav .navigation-menu li a:hover {
        text-decoration: red underline;
    }


    .google-maps iframe {
        width: 80% !important;
        height: 80% !important;
        left: 10%;
    }

    .gallery .gallery-images img {
        margin: 0;
        padding: 0;
        justify-content: center;
        width: 100%;
    }

    .foot p {
        display: inline;
        padding: 0 30px;
    }
}