:root {
    --white: rgba(255, 255, 255, .8);
    --nv-cl: white;
    font-size: 62.5%;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Italianno', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-image: url("../images/pizzaBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300%;
}

/*  Header with nav*/

.page-header {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
}

.page-header a {
    text-decoration: none;
}

.page-logo {
    color: black;
    font-size: 4.5rem;
    width: 90%;
    background-color: white;
    box-sizing: border-box;
}

.page-nav .hamburger {
    border: 0;
    background: 0;
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 2.6rem;
}

.page-nav .hamburger .close-icon {
    display: none;
}

.page-nav .navigation-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    display: none;
    margin-top: 30px;
}

.page-nav .navigation-menu li {
    border-bottom: 1px solid lightcoral;
    padding: 15px 0 15px;
    width: 80%;
    margin: auto;
}

.page-nav .navigation-menu li.sign-up {
    border: 0;
}

.page-nav .navigation-menu li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    color: black;
}

.page-header .nav-opened {
    -webkit-box-shadow: 0px 14px 26px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 14px 26px 0px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 14px 26px 0px rgba(0, 0, 0, 0.58);
}

.page-header.page-header.nav-opened .page-nav .hamburger .hamburger-icon {
    display: none;
}

.page-header.page-header.nav-opened .page-nav .hamburger .close-icon {
    display: block;
}

.page-header.nav-opened .navigation-menu {
    display: none;
}

.page-header.nav-opened .navigation-menu {
    display: block;
}

/* Main */

/* First Section with logo */

.main-page {
    max-width: 100%;
    position: relative;
}

.main-page .main-page-pizza-container {
    background-color: transparent;
    text-align: center;
}

.main-page .main-page-pizza-container .main-page-logo {
    display: inline-block;
    background-color: var(--white);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.main-page .main-page-pizza-container .main-page-logo img {
    width: 100%;
}

.main-page .main-page-pizza-container h2,
.main-page .main-page-pizza-container h3 {
    background-color: var(--white);
    padding: 0;
    margin: 0;
    font-size: 2.6rem;
}

.main-page .main-page-pizza-container h2 {
    margin-top: 20px;
}

.main-page .main-page-pizza-container h3 {
    margin-bottom: 80px;
}

/*  Main Second Section */

.main-article {
    background-color: var(--white);
    text-align: center;
}

.main-article .main-article-show .multiple-pictures {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.main-article .main-article-show .main-article-our-menu h2,
.main-article .main-article-show .main-article-our-menu p,
.main-article .main-article-show .main-article-our-menu a {
    font-size: 2.6rem;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.main-article .main-article-show .main-article-our-menu h2 {
    padding-top: 20px;
}

.main-article .main-article-show .main-article-our-menu a {
    text-decoration: none;
    color: red;
    font-size: 4rem;
    margin-bottom: 80px;
}

.main-article .main-article-show .multiple-pictures img {
    max-width: 100%;
    transform: scale(1);
    transition: .2s linear;
}

.main-article .main-article-show .multiple-pictures img:last-child {
    padding-bottom: 20px;
}

.main-article .main-article-show .multiple-pictures img:hover {
    transform: scale(1.2);
}

/* Empty space section */

.main-page .empty-container {
    min-height: 40vh;
}

/* Main small gallery section */

.main-article.options {
    text-align: center;
    padding: 30px 15px;
}

.main-article.options .gallery-small {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.main-article.options .gallery-small h3,
.main-article.options .gallery-small p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0rem;
    line-height: 30px;
    padding: 15px 0;
}

.main-article.options .gallery-small h3 {
    font-size: 2.8rem;
}

.main-article.options .gallery-small img {
    max-width: 100%;
    padding: 15px 0;
}

/*Main Last Section */

.last-container {
    max-width: 100%;
    padding: 15px;
    margin: 10px auto;
}

.last-container .last-empty-container-segment {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 230px;
    width: 250px;
    text-align: center;
    margin: 20px auto;

}

.last-container .last-empty-container-segment h3,
.last-container .last-empty-container-segment p,
.last-container .last-empty-container-segment i {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 3.5rem;
    padding-top: 50px;
}

.last-container .last-empty-container-segment p {
    font-size: 3rem;
}

/* Footer */

.foot {
    background-color: white;
    font-size: 4rem;
    text-align: center;
    padding: 10px 0;
}

@media (min-width: 41em) and (max-width: 86em) {

    .page-logo {
        font-size: 3.6rem;
    }

    .page-nav {
        padding: 0;
        margin: 0;
    }

    .page-nav .navigation-menu li {
        top: 0;
        padding: 0;
        margin: 0 20px;
    }

    .page-nav .navigation-menu li a {
        font-size: 4rem;
    }

    .main-page {
        max-width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .main-page .main-page-pizza-container {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .main-page .main-page-pizza-container .main-page-logo {
        background-color: var(--white);
        border-radius: 50%;
        margin-left: 0;
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main-page .main-page-pizza-container h2,
    .main-page .main-page-pizza-container h3 {
        width: 100%;
        padding: 2px 20px;
        margin: 3px;
        font-size: 4.6rem;
    }

    .main-article .main-article-show {
        max-width: 100%;
        display: inline-block;
        text-align: center;
    }


    .main-page .main-page-pizza-container h3 {
        margin-bottom: 30px;
    }

    .main-article .main-article-show .main-article-our-menu {
        display: inline;
        text-align: center;
    }

    .main-article .main-article-show .main-article-our-menu h2,
    .main-article .main-article-show .main-article-our-menu p,
    .main-article .main-article-show .main-article-our-menu a {
        font-size: 4.6rem;
    }

    .main-article .main-article-show .main-article-our-menu a {
        display: block;
        margin-bottom: 0;
    }

    .main-article .main-article-show .multiple-pictures {
        max-width: 100%;
        display: inline;
    }

    .main-article.options {
        min-width: 100%;
    }

    .main-article.options .gallery-small {
        display: inline-block;
        text-align: center;
    }

    .last-container {
        display: flex;
        min-width: 100%;
    }

    .last-container .last-empty-container-segment {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 10px;
        justify-content: center;
    }

    .last-container .last-empty-container-segment p,
    .last-container .last-empty-container-segment h3 {
        padding-top: 20px;
        /* align-self: center;
        justify-self: center; */
        padding: 10px 0;
        font-size: 3.6rem;
    }
}

@media (min-width:87rem) {
    .main-page {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    .page-nav .hamburger {
        display: none;
    }

    .page-nav {
        position: absolute;
        top: 0;
        right: 20px;
    }

    .page-nav .navigation-menu {
        margin: 20px 10px;
        display: block;
        text-align: center;
    }

    .page-nav .navigation-menu li {
        text-align: center;
        display: inline;
        border: 0;
        top: 0;
        margin-right: 70px;
        font-size: 4rem;
    }

    .page-nav .navigation-menu li a {
        font-family: 'Italianno', Arial, Helvetica, sans-serif;
        text-decoration: red none;
        font-size: 4.6rem;
        color: black;
        transition: 1s linear;
    }

    .page-nav .navigation-menu li a:hover {
        text-decoration: red underline;
    }

    /* Main Page section */

    .main-page .main-page-pizza-container {
        position: relative;
        min-height: 40vh;
        text-align: left;
        margin-left: 400px;
    }

    .main-page .main-page-pizza-container .main-page-logo {
        display: inline-block;
        text-align: center;
        margin-left: 150px;
        height: 300px;
        width: 300px;
    }

    .main-page .main-page-pizza-container h2,
    .main-page .main-page-pizza-container h3 {
        font-size: 4rem;
        width: 40%;
        padding: 5px 30px;
        text-align: center;
    }

    .main-article {
        background-color: white;
        width: 100%;
        min-height: 40vh;
        align-content: center;
        margin: 0 auto;
    }

    .main-article .main-article-show {
        width: 65%;
        margin: 0 auto;
        display: flex;
        min-height: 40vh;
        /* flex-direction: column; */
    }

    .main-article .main-article-show .main-article-our-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        align-items: center;
    }

    .main-article .main-article-show .main-article-our-menu h2,
    .main-article .main-article-show .main-article-our-menu p,
    .main-article .main-article-show .main-article-our-menu a {
        font-size: 5.5rem;
    }

    .main-article .main-article-show .main-article-our-menu a {
        margin-bottom: 0;
        font-size: 6rem;
    }

    .main-article .main-article-show .multiple-pictures {
        position: relative;
        display: flex;
        height: 100%;
        width: 50%;
        flex-wrap: wrap;
        padding: 2vh 0 0 5vh;
    }

    .main-article .main-article-show .multiple-pictures img {
        flex-basis: 50%;
        flex-wrap: wrap;
        height: 20vh;
        width: 20vh;
        transform: scale(1);
        transition: 0.2s linear;
        padding: 10px 20px;
        margin-top: 1vh;
    }

    .empty-container {
        display: block;
        min-height: 60vh;
    }

    .main-article.options {
        min-height: 45vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 30px 15px;
    }

    .main-article.options .gallery-small {
        display: flex;
        /* display: inline-block; */
        flex-direction: column;
        margin: 0 40px;
        width: 250px;
        height: 250px;
    }


    .main-article.options .gallery-small h3,
    .main-article.options .gallery-small p {
        font-size: 2.0rem;
        padding: 5px 0;
    }

    .main-article.options .gallery-small h3 {
        font-size: 2.8rem;
    }

    .main-article.options .gallery-small img {
        max-width: 100%;
        padding: 0;
    }

    .main-page .last-container {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }

    .last-container .last-empty-container-segment {
        padding: 0;
        margin: 0 30px;
        justify-content: center;
    }

    .last-container .last-empty-container-segment p,
    .last-container .last-empty-container-segment h3 {
        padding-top: 20px;
        align-self: center;
        justify-self: center;
        padding: 10px 0;
        font-size: 3.6rem;
    }

    /* Footer */

    .foot p {
        display: inline;
        padding: 0 30px;
    }
}